/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* Дублируем переменные для тёмной темы */
  --bg-color: #000028;
  --nav-color: #ff0070;
  --opacity-nav-color: #ff007099;
  --title-color: #db00ff;
  --under-title-color: #ff0070;
  --under-color: #ff0070;
  --text: #f1b2ce;
  --top-text: #000028;
  --cover-image: url(../images/cover-image.png);
}

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #000028;
  --nav-color: #ff0070;
  --opacity-nav-color: #ff007099;
  --title-color: #db00ff;
  --under-title-color: #ff0070;
  --under-color: #ff0070;
  --text: #f1b2ce;
  --top-text: #000028;
  --cover-image: url(../images/cover-image.png);
}

@media (width < 1024px) {
  .page.theme_dark {
      --cover-image: url(../images/cover-image-dark.png);
  }
}